.componente-tarjeta {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 40px;
}
h2 {
  margin-bottom: 10px;
  font-size: 30px;
  color: #99ff6d;
}

.scroll-horizontal {
  display: flex;
  overflow-x: scroll;
}

.card {
  width: 200px;
  margin-right: 10px;
}

.card img {
  width: 150px;
  height: 200px;
  border-radius: 5px;
}

.card-content {
  padding: 10px;
}
.title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.verTodosBtn {
  width: 90px;
  margin-top: 9px;
  background-color: #fff869;
  height: 35px;
  border-radius: 25px;
  border: none;
}
.verTodosBtn .link {
  text-decoration: none;
  color: black;
  text-align: center;
  margin: 7px;
  display: flex;
}
