* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
:root {
  --white: #fff;
  --beige: #f2fbe0;
  --green-yellow: #c7ff65;
  --olivine: #acc18a;
  --gray: #837a75;
  --davys--gray: #605b56;
}

<<<<<<< HEAD
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
  width: 5px;
  height: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
=======

/* Estilos para el scrollbar */
body::-webkit-scrollbar {
  width: 10px; /* Ancho del scrollbar */
}

/* Estilos para el thumb (la parte deslizable del scrollbar) */
body::-webkit-scrollbar-thumb {
  background-color: var(--green-yellow); /* Color del thumb */
  border-radius: 5px; /* Bordes redondeados del thumb */
  border: solid 3px black;
}

/* Estilos para el track (la pista en la que se desliza el thumb) */
body::-webkit-scrollbar-track {
  background-color: var(--gray); /* Color del track */
  border-radius: 5px; /* Bordes redondeados del track */
  
>>>>>>> task
}
