.footer {
  width: 100%;
  height: 390px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  background-color: var(--gray);
}

.links {
  list-style: none;
}

.logo_and_contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.logo {
  width: 30%;
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.logo div {
  font-size: 2rem;
  font-weight: bold;
}
.logo p {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bolder;
  line-height: 24px;
}

/*divider*/
.divider {
  width: 2px;
  height: 100%;
  background-color: black;
}

/*contacts*/
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.contacts li {
  width: 235px;
  height: 35px;
  margin: 3px 0px;
  padding-left: 10px;
  list-style: none;
}
.contacts li a {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
}
.contacts li a:hover {
  color: var(--green-yellow);
}

/*social networks*/
.networks {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.networks a {
  margin: 0px 20px;
  text-decoration: none;
  font-size: 1.8rem;
  transition: 0.2s;
  color: var(--davys--gray);
}
.networks a:hover {
  color: var(--green-yellow);
}

/**/
.pages {
  display: flex;
}
.pages p {
  margin: 0px 15px;
}
.pages p a {
  text-decoration: none;
  color: black;
}
.pages p a:hover {
  color: var(--green-yellow);
  text-decoration: underline;
}
