.form_container {
  width: 500px;
  height: 650px;
  margin: 100px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  border: 1px solid black;
}

.form_container label {
  width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.form_container input[type="text"],
.form_container textarea {
  width: 350px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.form_container textarea {
  height: 250px;
}
.form_inputs:focus {
  outline: none;
  box-shadow: 0 0 10px var(--green-yellow);
  background-color: green;
}

.archive {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_container input[type="submit"] {
  background-color: var(--gray);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5rem;
}

.form_container input[type="submit"]:hover {
  background-color: var(--green-yellow);
  color: black;
  border: 1px solid black;
}
