name: node.js

on:
  push:
    branches: [ "main", "stage" ]
  pull_request:
    branches: [ "main", "stage" ]

jobs:
  build:
    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [ 16.x ]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - run: npm ci
      - run: npm i

      - name: Deploy to Stage
        if: github.ref == 'refs/heads/stage'
        run: |
          cd ../
          sudo mkdir -p stage
          sudo cp -r frontend stage
          cd stage/frontend
          sudo cp ./env/.env.stage .env
          sudo npm run build
          sudo pm2 restart frontend-stage

      - name: Deploy to Production
        if: github.ref == 'refs/heads/main'
        run: |
          cd ../
          sudo mkdir -p production
          sudo cp -r frontend production
          cd production/frontend
          sudo cp ./env/.env.production .env
          sudo npm run build
          sudo pm2 restart frontend-production
